/* fonts */

@font-face {
  font-family: bigNoodleTitling;
  src: url('../../../src/fonts/big_noodle_titling_oblique.ttf');
}

.header {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 300;
  color: #444;
  margin-bottom: 10px;
}

.header--primary {
  font-family: bigNoodleTitling;
  font-size: 56px;
  padding: 10px;
  padding-bottom: 25px;
  line-height: 10px;
  border-bottom: 1px solid #aaa;
  margin-top: 10px;
}

.header--secondary {
  font-size: 40px;
  padding: 10px;
  margin-top: 15px;
  line-height: 10px;
}

.header--secondary.inline-text {
  position: relative;
  bottom: 10px;
}

.inline-text {
  display: inline-block;
}

.inline-text + .inline-text {
  margin-left: 15px;
}

/* grids */

.grid {
  display: grid;
  grid-template-rows: 96px;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

.grid__tile {
  background-color: #F1F0EE;
  border-radius: 3px;
  padding: 20px;
  opacity: 0;
  height: 100%;
}

.grid__tile--featured {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.grid__tile--wide {
  grid-column-end: span 2;
}

/* icons */

.icon {
  color: #ccc;
}

.icon--setup {
  font-size: 130px;
}

.icon-wrapper, .icon {
  transition: color 0.4s;
  cursor: pointer;
}

.icon-wrapper:hover > .icon {
  color: #999;
  transition: color 0.4s;
}

.hero-icon-container {
  /* Height of the tile container minus that of the header text */
  height: calc(100% - 55px);
}

.hero-icon-container__hero-icon {
  width: 200px;
}

/* loading state */

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.loader__image {
  width: 300px;
  height: 300px;
  position: relative;
}

.loader__image--loading {
  animation: load-animation--initial 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.loader__image--loaded {
  animation: load-animation--finished 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.background--loading {
  background-color: #f1f0ee;
}

.background--loaded {
  background-color: white;
  transition: background-color 1s;
}

@keyframes load-animation--initial {
  0%  {
    top: -20px;
    filter: brightness(1) blur(0) opacity(1);
  }
  100% {
    top: 0;
    filter: brightness(0.9) blur(3px) opacity(0.3);
    height: 250px;
    width: 250px;
  }
}

@keyframes load-animation--finished {
  0%  {
    height: 230px;
    width: 230px;
    top: 0;
    filter: opacity(1);
    filter: brightness(0.9) blur(3px) opacity(0.3);
  }
  100% {
    top: -20px;
    filter: brightness(0.8) blur(5px) opacity(0);
    height: 220px;
    width: 220px;
  }
}

/* 404 state */

.error {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.error__image {
  width: 500px;
  height: 500px;
  position: relative;
}

/* general */

.center-inner-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* animators */

.fade-in {
  transition: ;
  transition: opacity 1s ease-in-out, background-color 0.4s;
  opacity: 1;
}

/* graphs */

.app-wrapper .bg-success {
  background-color: #FCBD49 !important;
}

.app-wrapper .bg-warning {
  background-color: #ccc !important;
}

.progress {
  height: 1.4rem;
  border: 1px solid #aaa;
}

/* tooltips */

div[data-tooltipped]:hover > .grid__tile,
.grid__tile[data-tooltipped]:hover {
  background-color: #e5e4e0;
  transition: background-color 0.4s;
}
